{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "comma-dangle": 0,
        "lines-between-class-members": 0,
        "class-methods-use-this": 0
    },
    "env": {
        "node": true,
        "jest": true
    }
}